{% extends 'mockup/loggedin.html' %}

{% block actions %}
<form class="navbar-form navbar-left">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
    </div>
</form>
<li><a href="#"><i class="fa fa-plus"></i> New Ledger</a></li>
{% endblock actions %}

{% block content %}
<div class="container">
    <div class="pricing">
        <ul>
            <li class="unit price-primary">
                <div class="price-title">
                    <h3>My Ledger</h3>
                    <p>Presupuesto de Luis Fernando</p>
                    <p>
                        <small>Last used: yesterday</small>
                    </p>
                </div>
                <div class="price-body">
                    <h4>$10,500 MXN</h4>
                    <p></p>
                    <ul>
                        <li>4 accounts</li>
                        <li>15000 transactions</li>
                        <li>Base Unit: MXN</li>
                    </ul>
                </div>
                <div class="price-foot">
                    <button type="button" class="btn btn-success">Go</button>
                    <button type="button" class="btn btn-info">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </li>

            <li class="unit price-primary">
                <div class="price-title">
                    <h3>My Ledger</h3>
                    <p>Presupuesto de Luis Fernando</p>
                    <p>
                        <small>Last used: yesterday</small>
                    </p>
                </div>
                <div class="price-body">
                    <h4>$10,500 MXN</h4>
                    <p></p>
                    <ul>
                        <li>4 accounts</li>
                        <li>15000 transactions</li>
                        <li>Base Unit: MXN</li>
                    </ul>
                </div>
                <div class="price-foot">
                    <button type="button" class="btn btn-success">Go</button>
                    <button type="button" class="btn btn-info">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </li>

            <li class="unit price-primary">
                <div class="price-title">
                    <h3>My Ledger</h3>
                    <p>Presupuesto de Luis Fernando</p>
                    <p>
                        <small>Last used: yesterday</small>
                    </p>
                </div>
                <div class="price-body">
                    <h4>$10,500 MXN</h4>
                    <p></p>
                    <ul>
                        <li>4 accounts</li>
                        <li>15000 transactions</li>
                        <li>Base Unit: MXN</li>
                    </ul>
                </div>
                <div class="price-foot">
                    <button type="button" class="btn btn-success">Go</button>
                    <button type="button" class="btn btn-info">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </li>

            <li class="unit price-primary">
                <div class="price-title">
                    <h3>My Ledger</h3>
                    <p>Presupuesto de Luis Fernando</p>
                    <p>
                        <small>Last used: yesterday</small>
                    </p>
                </div>
                <div class="price-body">
                    <h4>$10,500 MXN</h4>
                    <p></p>
                    <ul>
                        <li>4 accounts</li>
                        <li>15000 transactions</li>
                        <li>Base Unit: MXN</li>
                    </ul>
                </div>
                <div class="price-foot">
                    <button type="button" class="btn btn-success">Go</button>
                    <button type="button" class="btn btn-info">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </li>

            <li class="unit price-primary">
                <div class="price-title">
                    <h3>My Ledger</h3>
                    <p>Presupuesto de Luis Fernando</p>
                    <p>
                        <small>Last used: yesterday</small>
                    </p>
                </div>
                <div class="price-body">
                    <h4>$10,500 MXN</h4>
                    <p></p>
                    <ul>
                        <li>4 accounts</li>
                        <li>15000 transactions</li>
                        <li>Base Unit: MXN</li>
                    </ul>
                </div>
                <div class="price-foot">
                    <button type="button" class="btn btn-success">Go</button>
                    <button type="button" class="btn btn-info">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </li>
        </ul>
    </div>

</div>
{% endblock content %}
