[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./cobropago/config/*,
       ./manage.py,
       ./pycharm_manage.py,
       ./cobropago/wsgi.py,
       *__init__*
