backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
blessings==1.6
boto==2.40.0
cffi==1.6.0
click==6.6
coverage==4.0.3
cryptography==1.3.2
decorator==4.0.9
dj-database-url==0.4.1
Django==1.9.6
django-appconf==1.0.2
django-bower==5.1.0
django-compressor==2.0
django-configurations==1.0
django-filter==0.13.0
django-model-utils==2.5
django-nose==1.4.3
django-redis-cache==1.6.5
django-rq==0.9.0
django-secure==1.0.1
django-storages-redux==1.3.2
django-unique-upload==0.2.1
django-versatileimagefield==1.4
djangorestframework==3.3.3
ecdsa==0.13
Fabric==1.11.1
factory-boy==2.7.0
fake-factory==0.5.7
flake8==2.5.4
gevent==1.1.1
greenlet==0.4.9
gunicorn==19.4.5
hiredis==0.2.0
idna==2.1
ipdb==0.10.0
ipython==4.2.0
ipython-genutils==0.1.0
Jinja2==2.8
livereload==2.4.1
Markdown==2.6.6
MarkupSafe==0.23
mccabe==0.4.0
mkdocs==0.15.3
mkdocs-bootstrap==0.1.1
mkdocs-bootswatch==0.4.0
mock==2.0.0
newrelic==2.64.0.48
nose==1.3.7
nose-progressive==1.5.1
paramiko==2.0.0
pbr==1.9.1
pep8==1.7.0
pexpect==4.0.1
pickleshare==0.7.2
Pillow==3.2.0
psycopg2==2.6.1
ptyprocess==0.5.1
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
pyflakes==1.2.2
python-dateutil==2.5.3
pytz==2016.4
PyYAML==3.11
rcssmin==1.0.6
redis==2.10.5
rjsmin==1.0.12
rq==0.6.0
selenium==2.53.2
simplegeneric==0.8.1
six==1.10.0
tornado==4.3
traitlets==4.2.1
whitenoise==3.0
