{% load static %}
{% load compress %}
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation 5</title>

    <link href="{% static '/static/components/bower_components/foundation/css/foundation.css' %}" rel="stylesheet" type="text/css"/>
    <link href='{% static '/static/components/bower_components/activix-foundicons/foundation-icons.css' %}' rel='stylesheet' type='text/css'>
    {% compress css %}
        <link href="{% static '/static/scss/style.scss' %}" type="text/x-scss" rel="stylesheet">
    {% endcompress %}
</head>
<body>
    <div class="off-canvas-wrap move-right" data-offcanvas>
        <div class="inner-wrap">
            <a class="left-off-canvas-toggle" href="#"><i class="fi-list"></i></a>

            <!-- Off Canvas Menu -->
            <aside class="left-off-canvas-menu">

                <div class="icon-bar vertical five-up">
                    <a class="item">
                        <i class="fi-graph-bar"></i>
                        <label>Dashboard</label>
                    </a>
                    <a class="item">
                        <i class="fi-dollar-bill"></i>
                        <label>Accounts</label>
                    </a>
                    <a class="item">
                        <i class="fi-shopping-cart"></i>
                        <label>Transactions</label>
                    </a>
                    <a class="item">
                        <i class="fi-pricetag-multiple"></i>
                        <label>Budget</label>
                    </a>
                    <a class="item">
                        <i class="fi-page-filled"></i>
                        <label>Reports</label>
                    </a>
                </div>

            </aside>

            <!-- main content goes here -->


            <!-- close the off-canvas menu -->
            <a class="exit-off-canvas"></a>

        </div>
    </div>
    <script src="/static/components/bower_components/jquery/dist/jquery.js"></script>
    <script src="/static/components/bower_components/foundation/js/foundation.js"></script>

    <script src="{% static "/static/js/main.js" %}"></script>
</body>
</html>
